In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data.csv")
df

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
...,...,...,...,...,...,...,...,...,...,...
995,996,03/24/2021,Duff,Errigo,derrigorn@elpais.com,Female,193.84.247.144,France,$3.63,NaN
996,997,03/17/2021,Ame,Rastall,arastallro@toplist.cz,Female,188.219.12.109,NaN,$4.59,20.0
997,998,03/13/2021,Betty,Stickels,bstickelsrp@cloudflare.com,Male,199.80.60.87,United States,$7.54,20.0
998,999,03/17/2021,Paquito,Tesoe,ptesoerq@rakuten.co.jp,Male,0.183.63.11,United States,$5.81,NaN
999,1000,03/23/2021,Rochelle,Pringuer,rpringuerrr@house.gov,NaN,170.193.249.83,Canada,$8.01,20.0

In [3]:
df.head(10)

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0
5,6,03/25/2021,Titos,Braybrooke,tbraybrooke5@umn.edu,Female,173.100.21.179,United States,$5.82,NaN
6,7,03/14/2021,Ava,Kencott,akencott6@phoca.cz,Female,118.251.45.43,Canada,$6.29,NaN
7,8,03/08/2021,Codi,Feasley,cfeasley7@ed.gov,Male,26.190.191.249,France,$3.01,20.0
8,9,03/09/2021,Waylon,Heersema,wheersema8@tumblr.com,Male,63.242.174.112,Canada,$3.70,20.0
9,10,03/23/2021,Guglielma,Gookes,ggookes9@amazon.co.uk,Male,169.100.6.0,France,$9.05,NaN

In [4]:
df["email"].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [5]:
df.email.head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [6]:
type(df)

pandas.core.frame.DataFrame

In [7]:
type(df.email)

pandas.core.series.Series

In [8]:
df[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [9]:
df.loc[10:13]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0

In [13]:
df_email = df.set_index('email').head(10)
df_email

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
malders0@shop-pro.jp,1,03/28/2021,Marylin,Alders,Male,160.119.8.119,Canada,$5.36,NaN
hharridge1@gnu.org,2,03/19/2021,Hinda,Harridge,Female,210.51.172.132,Canada,$8.32,NaN
ekilminster2@etsy.com,3,03/17/2021,Erl,Kilminster,Male,213.8.101.145,United States,$3.73,20.0
gbrantl3@umn.edu,4,03/19/2021,Grata,Brantl,Female,5.140.237.101,United States,$3.70,20.0
kbeasant4@jigsy.com,5,03/24/2021,Kanya,Beasant,Male,106.252.162.233,Morocco,$9.24,20.0
tbraybrooke5@umn.edu,6,03/25/2021,Titos,Braybrooke,Female,173.100.21.179,United States,$5.82,NaN
akencott6@phoca.cz,7,03/14/2021,Ava,Kencott,Female,118.251.45.43,Canada,$6.29,NaN
cfeasley7@ed.gov,8,03/08/2021,Codi,Feasley,Male,26.190.191.249,France,$3.01,20.0
wheersema8@tumblr.com,9,03/09/2021,Waylon,Heersema,Male,63.242.174.112,Canada,$3.70,20.0
ggookes9@amazon.co.uk,10,03/23/2021,Guglielma,Gookes,Male,169.100.6.0,France,$9.05,NaN

In [14]:
df_email.loc['hharridge1@gnu.org']

id                         2
date              03/19/2021
first_name             Hinda
last_name           Harridge
gender                Female
ip_address    210.51.172.132
country               Canada
price_paid             $8.32
tax                      NaN
Name: hharridge1@gnu.org, dtype: object

In [16]:
df_email.loc['hharridge1@gnu.org'].values.tolist()

[2,
 '03/19/2021',
 'Hinda',
 'Harridge',
 'Female',
 '210.51.172.132',
 'Canada',
 '$8.32',
 nan]

In [17]:
type(df_email.loc['hharridge1@gnu.org'].values.tolist())

list